body {
  background-color: cyan;
  font-family: sans-serif;
}

section {
  background-color:yellow;
  border: black 1px solid;
  padding: 10px 30px;
  margin: 10px;
  width: 50%;
}

table {
  margin-left: auto;
  margin-right: auto;
}

section.enero table {
  border-collapse: collapse;
  border: none;
  text-align: center;
}

section.enero caption {
  font-style: oblique;
  font-weight: bold;
  letter-spacing: 5px;
}

section.enero td {
  width: 3em;
  border-left: none;
  border-right: none;
}

section.enero th {
  width: 3em;
  border-left: none;
  border-right: none;
  border-top: none;
}

section.febrero table {
  border: none;
  border-collapse: collapse;
  text-align: right;
}
section.febrero caption {
  font-weight: bold;
  text-align: right;
}
section.febrero th {
  border-top: none;
  border-bottom: none;
  padding-right: 5px;
}
section.febrero td {
  border-top: none;
  border-bottom: none;
  font-size: 150%;
  padding-right: 5px;
  width: 1.5em;
}

section.marzo table {
  border: black 1px solid;
  border-collapse: collapse;
  text-align: left;
}
section.marzo caption {
  letter-spacing: 10px;
  margin-bottom: 5px;
  text-align: left;
}
section.marzo th {
  text-align: center;
}
section.marzo td {
  width: 4em;
  height: 4em;
  padding-left: 5%;
  font-size: 60%;
  vertical-align: top;
}